[{:itonami.blueprint/social-impact [:process-safety :worker-safety :public-safety], :itonami.blueprint/domain :industrial-utilities/boiler-plant-scheduling-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8182", :itonami.blueprint/name "Boiler-Plant Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :boiler-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8182", :itonami.blueprint/license "AGPL-3.0-or-later"}]
